/* Estilos gerais */
.home-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgba(30, 30, 30, 0.5);
    backdrop-filter: blur(5px);
    color: var(--texto-claro);
    width: 100vw;
  }
  
  /* Cabeçalho */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; 
  }
  
  .logo {
    width: 70px; 
    height: auto;
  }
  
  .welcome-message {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 24px;
  }
  
  /* Botão de Logout */
  .logout-button {
    padding: 10px 20px;
    background-color: var(--azul-primario);
    color: var(--texto-claro);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .logout-button:hover {
    background-color: var(--azul-hover);
  }
  
  /* Botões de Gerenciamento */
  .management-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .management-button {
    padding: 10px 30px;
    background-color: rgba(30, 30, 30, 0.5);
    color: var(--texto-claro);
    border: 2px solid var(--azul-primario);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .management-button:hover {
    background-color: var(--azul-hover);
    color: aliceblue;
    transform: scale(1.05);
  }
  
  /* Calendário */
  .calendar-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }

  .beta {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2px 6px;
  border-radius: 6px;

  background: #0b97f5; 
  color: #ffffff;

  line-height: 1;
}

  
  /* Responsividade */
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      text-align: center;
    }
  
    .welcome-message {
      position: static;
      transform: none;
      margin-top: 10px;
    }
  
    .management-buttons {
      flex-direction: column;
      gap: 10px;
    }
  
    .management-button {
      width: 100%;
    }
  }